body {
    background-color: #0a1223;
    font-family: sans-serif;
    margin-bottom: 120px;
}

header {
    margin-top: 20px;
    margin-right: 20px;
}

header nav {
    text-align: right;
}

header nav a {
    font-size: 20px;
    color: #5d5d5d;
    text-decoration: none;
    padding: 10px 20px;
}

body header nav a:active, header nav a.active {
    color: #54597d;
}

body header nav a:hover {
    color: #54597d;
}

main h1 {
    margin: 120px 80px;
    font-size: 70px;
    color: #ddd;
}

main article {
    margin: 10px 130px;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr;
}

main article:nth-child(even) {
    grid-template-areas: "title image" "text image";
}

main article:nth-child(odd) {
    grid-template-areas: "image title" "image text";
}

article h2 {
    color: #ddd;
    grid-area: title;
    font-size: 34px;

}

article div {
    grid-area: text;
    text-indent: 25px;
    text-align: justify;
    color: #5d5d5d;
    font-size: 18px;
}

article img {
    grid-area: image;
    max-height: 300px;
    max-width: 100%;
}

.up-button {
    display: none;
}

@media screen and (max-width: 991px) {
    header nav {
        text-align: center;
    }

    main h1 {
        text-align: center;
        font-size: 56px;
        margin: 150px 30px;
    }

    main article {
        margin: 10px 100px;
        grid-template-columns: 1fr;
    }

    main article:nth-child(even) {
        grid-template-areas: "title" "text" "image";
    }

    main article:nth-child(odd) {
        grid-template-areas: "title" "text" "image";
    }

    article img {
        margin: 50px auto;
    }

    header nav a:hover {
        color: #5d5d5d;
    }
}


@media screen and (max-width: 575px) {
    body {
        background-color: #fff;
        margin: 0;
    }

    header {
        margin: 0;
    }

    main h1, main h2, main div {
        color: #000;
    }

    main article {
        margin: 15px 40px;
    }

    header nav {
        display: flex;
        text-align: left;
        flex-direction: column;
    }

    header nav a {
        border-bottom: #ddd 1px solid;
    }

    header nav a:active, header nav a.active {
        font-weight: bold;
    }

    main h1 {
        margin: 100px 15px 100px 15px;
    }
    .up-button {
        display: block;
        position: fixed;
        right: 10px;
        bottom: 10px;
        border-radius: 30px;
        background-color: #5ebcff;
        color: #fff;
        text-decoration: none;
        padding: 15px;
        box-shadow: 6px 8px 10px #ddd;
    }
}
@media screen and (min-width: 576px){
    article h2{
        background: linear-gradient(to right, #fff, #5D5D5D);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}