ul.boxes.gallery-container li.box.box-bg:hover {
    background-color: #32b5de;
}

ul.boxes.gallery-container li.box.box-bg:hover h2 {
    color: white;
    font-weight: bold;
}

ul.boxes.gallery-container li.box a img {
    border-radius: 100%;
}

p:first-letter {
    color: #76cdd7;
    font-size: 30px;
}

div.tm-sidebar, div.tm-content-box {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
}

section::before {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 30px solid #32b5de;
    border-right: 130px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 0px solid transparent;
}

#tmCarousel h2.tm-section-title {
    color: gainsboro;
    letter-spacing: 5px;
}

h2 + p {
    font-style: italic;
}

section p {
    line-height: 1.7;
    text-indent: 30px;
}

section.heading a:visited {
    color: silver;
}

section.heading a:hover {
    color: deepskyblue;
    text-decoration: underline;
    text-decoration-style: double;

}

section.heading a.text::after {
    content: "New";
    color: red;
    vertical-align: super;
    font-size: 12px;
}

section.blocks ul.gallery-container li.box:nth-child(odd) {
    background-color: rgba(219, 219, 219, 0.19);
}

section.blocks ul.gallery-container li.box p:first-letter {
    color: black;
}

section.blocks ul.gallery-container li.box p {
    line-height: 1.7;
    text-indent: 0;
}

nav.tm-main-nav li:not(:last-child) {
    border-bottom: 2px dotted silver;
}

div.mandatory-field::after {
    content: "*";
    color: red;
    font-weight: bold;
}

form.contact-form input, form.contact-form button {
    color: red;
}

form.contact-form button:hover {
    background-color: #32b5de;
}

@media print {

    .tm-sidebar, #home + section ~ section, #about {
        display: none;
    }

    .tm-main-content {
        margin-left: 0;
    }

    h2.tm-section-title {
        color: #2524de;
    }

    p:first-letter {
        color: initial;
        font-size: initial;
    }

    h2 + p {
        font-style: normal;
    }

    section p {
        text-indent: 0;
    }

    div.tm-sidebar, div.tm-content-box {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
    }

    .flex-2-col {
        flex-direction: column;
    }

    section::before {
        border: none;
    }

    .pad {
        padding: 0;
    }

    .tm-banner {
        height: 250px;
    }
}