$backgroundColor: white;
$articleBackground: #EFEFEF;
$navColor: #2aabd2;
$navBorder: #1f7e9a;
$dateCoolor: #159587;
$articleLineHeight: 1.5;
$postDescriptionBorderBottom: #617D8A;
$h3Color: #1697A6;
$footerColor: #61829C;
$formInputBorder: #617D8A;
$bodyFontFamily: "Arial";