$backgroundColor: #EFEFEF;
$articleBackground: white;
$navColor: red;
$navBorder: #CFD8DC;
$dateCoolor: #BDBDBD;
$articleLineHeight: 2;
$postDescriptionBorderBottom: #CFD8DC;
$h3Color: #617D8A;
$footerColor: #757575;
$formInputBorder: #CFD8DC;
$bodyFontFamily: "Serif";